@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgray
}

body {
    margin: 0px;
}

.imgmain {
    background-image: url(images/pexels-christian-heitz-842711.jpg);
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 50%;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    width: 100%;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.dropdown {
        padding: 20px;
        margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-list {
    background-color: white;
}

.nav_links li .anavbar:hover {
    color: #044f00;
    border-bottom: #044f00 solid 3px;
}

#mySidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray;
    color: #f9f9f9;
    padding-top: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.sidebarlnk {
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidebarlnk:hover {
    background-color: #f1f1f1;
    color: #044f00;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

#img1 {
    background-image: url("images/4500642.jpg");
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    background-attachment: fixed;
}

#img2 {
    background-image: url("images/4500642.jpg");
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    background-attachment: fixed;
}

#img3 {
    background-image: url("images/4500642.jpg");
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    background-attachment: fixed;
}

.textmain {
    font-size: 500%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #044f00;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: white;
}

.text {
    font-size: 400%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Ubuntu', sans-serif;
}

a, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.dropdown a:hover {
    color: #044f00;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.anavbar {
    padding: 20px;
    margin: auto;
}

li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 20px 20px 5px;
    margin; 0px 5px 5px 0px;
}

header {

}

.logo {
    width: 5%;
    cursor: pointer;
    background-color: white;
}

.nav_links {
    list-style: none;
    background-color: white;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

button {
    padding: 9px 25px;
    background-color: #044f00;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 99, 18, 0.8);
}

button:hover {
    background-color: rgba(0, 99, 18, 0.8);
}

.footer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: cover;
        background-color: #044f00;;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        text-align: left;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

.footertext {
    background-color: #044f00;;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 300%;
    text-align: center;
}
