body {
    font-family: 'Trebuchet MS';
    background-color: coral;
    padding-left: 5%;
    padding-right: 5%;
}

#A {
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
}

#B {
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    border-radius: 10px;
}

img {
    width: 20%;
}

h1 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 200%;
    backdrop-filter: blur(01px);
    color: black;
    text-align: center;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100%;
    color: black;
    text-align: justify;
    border-radius: 10px;

}